<html>
    <head>

    </head>

    <body>
        <h1>Welcome to <%= title %></h1>
        <h2>EJS Template Engine</h2>

        <ul>
            <% for(var i =0; i < list.length; i++) {%>
                <li><%= list[i] %></li>
            <% } %>
        </ul>
    </body>
</html>